@use 'assets/css/theme_v2';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import 'primeicons/primeicons.css';

:root {
    --color-50: #e6f6ec;
    --color-100: #cceedd;
    --color-200: #99dcbb;
    --color-300: #66c999;
    --color-400: #33b777;
    --color-500: #026b26; /* principal */
    --color-600: #025c21;
    --color-700: #024c1c;
    --color-800: #023c16;
    --color-900: #022f11;
    --color-950: #011d0a;

    --contrast-50: #000000;
    --contrast-100: #000000;
    --contrast-200: #000000;
    --contrast-300: #000000;
    --contrast-400: #000000;
    --contrast-500: #ffffff;
    --contrast-600: #ffffff;
    --contrast-700: #ffffff;
    --contrast-800: #ffffff;
    --contrast-900: #ffffff;
    --contrast-950: #ffffff;

    --border-radius-md: 5px;

    --primary-color: var(--color-500);
    --primary-color-dark: var(--color-900);
    --bg-submenu: var(--color-100);
    --bg-primary: var(--color-100);
    --primary-color-shadow: var(--color-100);
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    //font-family: var(--font-family);
    font-family: 'NotoSans', sans-serif;
    color: var(--color-950);
    background-color: var(--color-50);
}

.p-tablist-tab-list {
    width: 100%;
}

//@import 'assets/css/datePicker.scss';
