# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:XXXXXX@localhost:3306/noutly-app-2023"
JWT_SECRET="noutlygestion2024"
# 15 minutes
JWT_EXPIRES_IN=900
# 6 months
REFRESH_TOKEN_EXPIRES_IN=15552000

PORT=3030

FRONT_PUBLIC_URL="http://localhost:4200"

TWO_FACTOR_AUTHENTICATION=true
TWO_FACTOR_AUTHENTICATION_MODE='code'
TWO_FACTOR_AUTHENTICATION_EXPIRES_IN=900

SMTP_HOST="smtp-relay.brevo.com"
SMTP_PORT=587
SMTP_USER="jose@witandbit.com"
SMTP_PASS="xsmtpsib-823f7f3901f1e4ae00a6c440e6781c23e7e6b3113df3d9a3ef4db1adbf96c02c-aQ4nWdkxAsqyvYJX_XXXXX"
SMTP_FROM_EMAIL="noreply@breathsoul.com"
SMTP_FROM_NAME="Noutly App"
SMTP_SECURE=false
TEST_EMAIL="jatleti@gmail.com"

S3_ENDPOINT="https://96915239e8e91955672ec4087fbb1586.r2.cloudflarestorage.com"
S3_BUCKET="residencia"
S3_BUCKET_URL="residencia.breathsoul.com"
S3_APIKEY="2dc33b757369b4aa0e540aaeeddb60f7_XXXXX"
S3_SECRET="ffa4ca99cb2d2e1c85cb8272c1830fe364a88170befd6e8ac7260535086f552d_XXXXX"
S3_SIGNED_URL_EXPIRES_IN=900
# private | puclic-read
S3_DEFAULT_PERMISSIONS="private"